<!DOCTYPE html>
<html lang= “es”>
    <head>
        <meta charset="utf-8">
        <title>Agenda</title>
   </head>
 		<body>
			<header>
				<h1>Agenda 2022</h1>
				<nav>
					<ul>
			          <li><a href="index.html">Inicio</a></li>
			          <li><a href="agenda.html">Agenda</a></li>
			          <li><a href="beneficios.html">Beneficios y Becas</a></li>
			          <li><a href="contacto.html">Contáctanos</a></li>
	     			</ul>
				</nav>
				<img src="../static/images/calendario-academico-2022.png" alt="Calendario 2022"  title="Calendario 2022" width=500px>
			</header>
			<section>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
			</section>
			<video width="500" controls>
				<source src="../static/videos/agenda.mp4" type="video/mp4">
					Tu navegador no soporta video HTML5.
				</video>
			<footer>
				<p>
					2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
					Argentina.
				</p>
			</footer>
		</body>
</html>