<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Beneficios y Becas</title>
	</head>
	<body>
		<header>
			<h1>PROGRAMACION VISUAL - HTML -2022</h1>
			<img src="../static/images/becas.png" alt="foto de beneficios y becas" title= "beneficios y becas">
		</header>
		<nav>
			<ul>
				<li><a href="index.html" title="Ir a la página index.html">Inicio</a></li>
				<li><a href="agenda.html" title="Ir a la página agenda.html">Agenda</a></li>
				<li><a href="beneficios.html" title="Ir a la página beneficios.html">Beneficios y becas</a></li>
				<li><a href="contacto.html" title="Ir a la página contacto.html">Contáctanos</a></li>
			</ul>		
		</nav>
		<section>
			<p>Pagina en construccion...</p>
		</section>
		
		<footer>
			<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina.</p>		
		</footer>
	</body>
</html>