<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Idiomas</title>
</head>
<body>
	<header>
		<h1>PÁGINA DE IDIOMAS</h1>
		<img src ="../static/images/Idiomass.jpeg" alt="Imagen Visual de HTML 5" title= "Imagen">
	<nav>
		<ul>
			<li><a href="index.html" title="Ir a la página index.html">Inicio</a></li>
			<li><a href="agenda.html" title="Ir a la página agenda.html">Agenda</a></li>
			<li><a href="beneficios.html" title="Ir a la página beneficios.html">Beneficios y becas</a></li>
			<li><a href="contacto.html" title="Ir a la página contacto.html">Contáctanos</a></li>
		</ul>
	</nav>
	</header>
	
	<section>
		<h3>Cursos de Idiomas</h3>
		<p>En esta página encontraras una breve descripción de los idiomas que se dictaran en los diferentes cursos.</p>
		<p>Inglés</p>
		<p>El inglés es uno de los idiomas más hablados y estudiados en el mundo. Este curso está pensado para aquellas personas que poseen conocimiento previos, se estudiaran los diferentes tipos de gramática y las reglas de fonética.</p>
		<p>Francés</p>
		<p>El francés es la lengua oficial de Francia. En este curso aprenderás los fundamentos gramaticales y comunicativos del idioma, es fácil de aprender y solo se requiere tener conocimientos elementales.</p>
		<p>Portugués</p>
		<p>El portugués es un idioma de origen europeo, es la lengua oficial de Portugal y Brasil. En este curso aprenderás los aspectos básicos del idioma.</p>
		<p>Alemán</p>
		<p>El alemán es la lengua materna más hablada en la Unión Europea, es el idioma oficial de Alemania. El objetivo del curso es que el alumno haga uso del idioma de una forma práctica, como vehículo de comunicación factual y participativa.</p>
		<table>
			<tr>
				<th>Curso</th>
				<th>Fecha inicio</th>
				<th>Horario</th>
				<th>Fecha fin</th>
				<th>Modalidad</th>
				<th>Docente</th>
				<th>Duración</th>
			</tr>
			<tr>
				<td>Inglés</td>
				<td>17/5/2022</td>
				<td>10:00 a 11:30 hs</td>
				<td>14/10/2022</td>
				<td>Presencial</td>
				<td>Maria Mendez</td>
				<td>21 semanas</td>
			</tr>
			<tr>
				<td>Francés</td>
				<td>14/3/2022</td>
				<td>14:00 a 17:00 hs</td>
				<td>15/7/2022</td>
				<td>Virtual</td>
				<td>Franco Vargas</td>
				<td>17 semanas</td>
			</tr>
			<tr>
				<td>Portugués</td>
				<td>28/7/2022</td>
				<td>08:00 a 09:00 hs</td>
				<td>18/11/2022</td>
				<td>Presencial</td>
				<td>Julieta Benitez</td>
				<td>16 semanas</td>
			</tr>
			<tr>
				<td>Alemán</td>
				<td>26/4/2022</td>
				<td>12:30 a 14:00 hs</td>
				<td>26/8/2022</td>
				<td>Virtual</td>
				<td>Oscar Mendoza</td>
				<td>17 semanas</td>
			</tr>
		</table>
	</section>
</body>
</html>