<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Inicio</title>
	</head>
<body>
	<header>
		<h1>PROGRAMACION VISUAL - HTML -2022</h1>
		<img src ="../static/images/HTML.jpeg" alt="Imagen Visual" title= "Imagen">
	<nav>
		<ul>
			<li><a href="index.html" title="Ir a la página index.html">Inicio</a></li>
			<li><a href="agenda.html" title="Ir a la página agenda.html">Agenda</a></li>
			<li><a href="beneficios.html" title="Ir a la página beneficios.html">Beneficios y becas</a></li>
			<li><a href="contacto.html" title="Ir a la página contacto.html">Contáctanos</a></li>
		</ul>
	</nav>
	</header>
	<section>
		Cursos con inscripcion abierta
		<ol>
			<li><a href="#section1">Idiomas</a></li>
			<li><a href="#section2">Diseño</a></li>
			<li><a href="#section3">Desarrollo</a></li>
			<li><a href="#section4">Marketing</a></li>
			<li><a href="#section5">Conferencias</a></li>
		</ol>
	</section>
	
	<section id="section1">
    <p>Página no disponible</p>
 	</section>
 	
 	
 	<section id="section2">
    <p>Página no disponible</p>
 	</section>
 	
	<section id="section3">
    <p>Página no disponible</p>
 	</section>
 	
 	<section id="section4">
    <p>Página no disponible</p>
 	</section>
	
	<section id="section5">
    <p>Página no disponible</p>
 	</section>
 	
 	<footer>
    2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República 
Argentina.
 	</footer>
 
</body>
</html>